body {
  line-height: 1em; }

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url("../fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype"); }

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: "Ubuntu"; }

body {
  font-family: "Open Sans"; }

.content__page {
  padding-top: 16px;
  min-height: calc(100vh - 240px);
  width: 100%; }

.custom-text-primary {
  color: #50b948; }

.custom-text-secondary {
  color: #979797; }

.custom-input {
  background: #FFFFFF;
  border: 1.5px solid #D4D4D4;
  box-sizing: border-box;
  border-radius: 10px; }

.custom-label {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #2A2A2C; }

.custom-button-success {
  background: #50B948;
  border-radius: 10px;
  color: white; }
  .custom-button-success:hover {
    background: #0a8817;
    border-radius: 10px;
    color: white; }

.custom-button {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 0.90em;
  line-height: 0.95em;
  /*letter-spacing: 0.5px;*/ }
  .custom-button-default {
    background-color: #F7F6FB;
    color: #979797; }
    .custom-button-default:hover {
      background-color: rgba(85, 184, 75, 0.2);
      color: #50B948; }
  .custom-button-selected {
    background-color: rgba(85, 184, 75, 0.2);
    color: #50B948; }
    .custom-button-selected:hover {
      background-color: rgba(85, 184, 75, 0.3);
      color: #50B948; }

.btn-group .custom-button {
  font-style: normal;
  font-weight: 600;
  font-size: 0.8em;
  line-height: 1em; }

.breadcrumb {
  background-color: #fff; }

.user__avatar {
  height: 40px;
  width: 40px;
  background-color: #ccc;
  border-radius: 50%; }

.card {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px; }
  .card .card__info {
    line-height: 1.2em; }
    .card .card__info p:first-child {
      font-size: 14px; }
    .card .card__info .info__name {
      font-size: 14px; }
  .card .card__mark {
    height: 54px;
    width: 54px;
    border-radius: 50%;
    background-color: #0083ca;
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 23px; }
    .card .card__mark .mark__title {
      letter-spacing: -1px; }
    .card .card__mark .mark__subtitle {
      font-size: 12px;
      line-height: 12px; }
  .card .card__actions .actions__rate {
    color: #FF961C; }

/* Navbar Section */
.navbar {
  /* Search Field */ }
  .navbar .navbar-toggler {
    border: none !important; }
  .navbar .nav__discount {
    background: rgba(85, 184, 75, 0.2);
    border-radius: 5px;
    color: #50B948 !important; }
  .navbar .nav__giftcard {
    background: #CDE4F2;
    border-radius: 5px;
    color: #0083CA !important;
    margin-left: 8px; }
  .navbar .nav-link {
    font-size: 0.95em;
    line-height: 0.95em; }
    .navbar .nav-link:hover {
      font-weight: bold; }
  .navbar .active > .nav-link {
    font-weight: bold; }
  .navbar .navbar__logo {
    cursor: pointer; }
    .navbar .navbar__logo span {
      font-size: 8px; }
  .navbar .navbar__bookstore {
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #EBE9F1;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    z-index: 3; }
    .navbar .navbar__bookstore .bookstore__list {
      font-size: 14px;
      padding: 16px; }
    .navbar .navbar__bookstore .bookstore__card {
      border: 2px solid;
      border-radius: 10px;
      text-align: right;
      height: 100px;
      background-repeat: no-repeat;
      background-size: inherit;
      background-position-y: center;
      background-position-x: center;
      padding: 10px;
      cursor: pointer; }
      .navbar .navbar__bookstore .bookstore__card-default {
        border-color: #EBE9F1; }
      .navbar .navbar__bookstore .bookstore__card-selected {
        border-color: #50B948; }
  .navbar .navbar__input {
    background: #ffffff;
    border-radius: 5px;
    padding: 8px;
    width: 200px;
    display: flex;
    align-items: center; }
    .navbar .navbar__input input {
      border: none;
      width: calc(100% - 24px); }
    .navbar .navbar__input input:focus {
      outline: none; }

/* Menu Drawer to mobile*/
.left-mobile-menu {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 7;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden; }
  .left-mobile-menu .left-mobile-menu__content {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 7;
    width: 85%;
    max-width: 350px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff; }
    .left-mobile-menu .left-mobile-menu__content .content__menu {
      background: #0083CA;
      border-radius: 10px; }
      .left-mobile-menu .left-mobile-menu__content .content__menu .list-group {
        color: #fff; }
        .left-mobile-menu .left-mobile-menu__content .content__menu .list-group .list-group-item {
          background-color: #007BFF;
          color: #fff; }
        .left-mobile-menu .left-mobile-menu__content .content__menu .list-group .sublist .list-group-item {
          background-color: #0083CA;
          padding-left: 44px; }
      .left-mobile-menu .left-mobile-menu__content .content__menu .dropdown-divider {
        border-color: #6495ed; }

#mapShoppingList li {
  border-left: 5px solid #369198;
  padding-left: 16px;
  font-size: 1.3em;
  margin-bottom: 16px;
  line-height: 1.2em; }

/* Shopping Cart*/
.bookstore__cart a {
  text-decoration: none;
  color: #000; }

.custom-menu {
  background: #50B948;
  border-radius: 12px;
  border: none;
  right: 0px;
  left: inherit;
  width: 270px;
  padding: 0px; }
  .custom-menu .menu__arrow {
    height: 14px;
    width: 14px;
    position: absolute;
    right: 23px;
    top: -5px;
    background: #50B948;
    transform: rotate(45deg); }
  .custom-menu .submenu__arrow {
    height: 10px;
    width: 10px;
    position: absolute;
    right: -5px;
    top: 15px;
    background: #fff;
    transform: rotate(45deg); }
  .custom-menu .menu__title {
    font-size: 15px;
    display: flex;
    color: #fff;
    justify-content: space-between; }
    .custom-menu .menu__title a {
      text-decoration: none;
      color: white; }
  .custom-menu .menu__body {
    background-color: #FFFFFF;
    border-radius: 10px;
    font-size: 13px;
    margin-bottom: 0; }

.dropdown-submenu {
  position: relative; }
  .dropdown-submenu .dropdown-menu {
    padding: 8px;
    top: -15px;
    width: 220px;
    left: -234px;
    margin-left: .1rem;
    margin-right: .1rem;
    border-radius: 10px; }
  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    right: 6px;
    top: .8em; }

.filter__section-mobile {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .filter__section-mobile .section-mobile__input {
    align-items: center;
    max-width: 350px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    background-color: #F7F6FB;
    border-radius: 7px;
    padding: 12px 8px;
    width: 100%; }
    .filter__section-mobile .section-mobile__input i {
      color: #979797; }
    .filter__section-mobile .section-mobile__input input {
      background-color: inherit;
      border: none;
      font-size: 0.9em;
      line-height: 0.9em;
      padding: 0px;
      width: 100%;
      min-width: auto; }

.footer {
  border-top: 2px solid #efefef;
  font-size: 0.9em; }

/*# sourceMappingURL=main.css.map */